<div class="top-row ps-3 navbar navbar-dark" style="background-color:rgb(5, 67, 89); height: 64px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SP Jenis Cat</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudPaper Width="250px" Class="d-inline-flex py-3" Style="background-color:transparent" Elevation="0">
        <MudNavMenu Class="mud-width-full">
            <MudText Typo="Typo.h6" Class="px-4">Admin</MudText>
            <MudDivider Class="my-2" />
            <MudNavLink Href="/home" IconColor="Color.Info" Icon="@Icons.Material.Filled.Dashboard">Home</MudNavLink>
            <MudNavLink Href="/kond_rumah" IconColor="Color.Info" Icon="@Icons.Material.Filled.House">Kondisi Rumah</MudNavLink>
            <MudNavLink Href="/solusi" IconColor="Color.Info" Icon="@Icons.Material.Filled.Receipt">Solusi</MudNavLink>
            @* <MudNavLink Href="/pasien" IconColor="Color.Info" Icon="@Icons.Filled.Receipt">Pasien</MudNavLink> *@

        </MudNavMenu>
    </MudPaper>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
